:root {
  --black: #3b434e;
  --gray-dark: #787d85;
  --gray-light: #ebebeb;
  --white: #fff;
  --red: #fc836d;
  --green: #1dc37e;
  --green-light: #c8f8e4;
  --primary: #7653fc;
  --primary-hover: #6344df;
  --font-family: 'Noto Sans KR', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;

  color: var(--black);
  background: #f5f6f8;

  font-family: 'Noto Sans KR', sans-serif;
}

a {
  text-decoration: none;

  color: inherit;
}

* {
  box-sizing: border-box;
}
